<!-- Create habit form -->
<div class="border rounded" style="box-shadow: 5px 5px 5px grey;margin-top: 8%;padding: 2%;background-color: rgb(104, 129, 151);">
<h1 style="text-align: center;">New Task</h1>
<form method='post' action='/' style="max-width: 80%; margin: auto;" class="mt-5">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      style="box-shadow: 3px 3px 3px grey" id="habitName" name="name"
    />
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-info fw-bold mb-4 fs-5" type="submit">Create</button>
  </div>
</form>
</div>
